mediapipe      # Compatible with Python 3.12 for hand tracking
opencv-python  # Latest version supporting Python 3.12
numpy         # Ensures compatibility with Python 3.12
matplotlib      # Visualization library compatible with Python 3.12
scipy          # Enhanced scientific computation for Python 3.12
Pillow       # Image manipulation library compatible with Python 3.12
pycaw
comtypes
streamlit
opencv-python-headless